<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/chat.css" />
    <link rel="stylesheet" href="/static/permission.css" />
    <title>Chatbox</title>
  </head>
  <body>
    

      <div class="popup-container" id="permissionPopup">
        <div class="popup-content">
          <h2>Permission Request</h2>
          <p>We would like to track your emotions.</p>
          <button id="allowBtn" >Allow</button>
          <button id="denyBtn">Deny</button>
        </div>
      </div>
    

    <script src="static/chat.js"></script>
  </body>
</html>
